*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: #1E2024;
    font-family: cairo, sans-serif;
}
.container{
    width: 350px;
    margin: 50px auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: #17191D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**********************/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header img{
    max-width: 100%;
}
header h1{
    font-size: 22px;
    margin-top: 10px;
    color: #eee;
}
header h4{
    font-size: 16px;
    color: #666;
}
header h6{
    font-size: 12px;
    color: #fff;
}
header .links{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
header a{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 3px 5px;
}
header .links > a:first-child{
    background-color: #fff;
}
header .links > a:last-child{
    background-color: #4586DC;
}
header a icon{
    padding-right: 12px;
}
header a button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: cairo;
    cursor: pointer;
}
header a.email icon{
    color:black;
}
header a.linkedin icon, header a.linkedin button{
    color:#fff;
}
/*********************************************/
.section{
    padding: 10px 20px;
}
.section h3{
    color: #fff;
}
.section p{
    color: #84818D;
    line-height: 1.5;
}
/**********************************************/
.footer{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #151417;
}
.footer icon{
    color: #84818D;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    width: 100%;
}